<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <h3>Welcome,  {{id}}</h3>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"   >
                <h4 >             
                </h4>   
        <li class="nav-item">
            <h4>      
            </h4>   
        </ul>
        <h4 style="color: black; background-color:rgba(212, 41, 41, 0.952);">
            <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
        </h4>
    </div>
</nav>
<div class="alert alert-dismissible alert-warning">
    <marquee width="100%" direction="left" height="25px">
        <b style="font-family:verdana; font-size:15px; ">
           A
        </b>
    </marquee>
</div> 
<div class="jumbotron">
    <BR><BR>
    <div class="row">
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white"> 
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
            <BR><BR><BR><BR><BR><BR><BR><BR>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
            <BR><BR><BR><BR><BR><BR><BR><BR>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;
                   A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zoom">
                <h1 style="font-family:verdana; color: white">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    A
                </h1>
                <div class="middle">
                    <div class="text">
                        A
                    </div>
                </div>
            </div>
            <BR><BR><BR><BR><BR><BR><BR>
        </div>
    </div> 
</div>
<audio  controls autoplay loop>
    <source src="assets/music/4.mp3" type="audio/mp3">
</audio>    
 <a class="nav-link" routerLink="/login4" style="color: white; Text-align:right; background-color: white ;">SUPRISE 3</a>


     
            
        
    
 
