ngb-carousel {
    max-width: 520px;
    margin: 1px auto;
}

ngb-carousel img {
    width: 330px;
    height: 330px;
    outline: none;
}

ngb-carousel {
    width: 330px;
    height: 330px;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

.h6 {
    margin-top: 5px;
    margin-bottom: -3px;
    margin-right: -50px;
    margin-left: 1px;
  }

  .show{
    margin-top: 5px;
    margin-bottom: -20px;
    margin-right: -1px;
    margin-left: -10px;
  }

  .msg{
    
    margin-right: -50px;
    margin-left: -10px;
  }