<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h3>Welcome,  {{id}}</h3>
  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item"   >
              <h4 >             
              </h4>   
      <li class="nav-item">
          <h4>      
          </h4>   
      </ul>
      
      <h4 style="color: black; background-color:rgba(212, 41, 41, 0.952);">
          <a class="nav-link" routerLink="/GAMEOVER" >CLICK ME</a>
      </h4> 
      <h4 style="color: black; background-color:rgba(212, 41, 41, 0.952);">
          <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
      </h4>
   </div>
</nav>

<div class="alert alert-dismissible alert-warning">
  <marquee width="100%" direction="left" height="25px">
      <b style="font-family:verdana; font-size:15px; ">
        ok
      </b>
  </marquee>
</div> 

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Propose Day/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Propose Day/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Propose Day/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Propose Day/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Propose Day/5.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
        <B style="font-size:20px; font-family:verdana; color:red;"> 
          
        </B>
        <p class ="msg" style= "text-align: justify">
          
        </p>
        <p class="show" style= "text-align: left; font-family:verdana;">
          <i class="material-icons" style="font-size:15px">place</i>
          <b> </b>
        </p>
        <p class="h6" style= "text-align: right; font-family:verdana;">
          <b> </b>
        </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/6.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/7.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/8.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Razzberry Rhinoceros/10.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:19px; font-family:verdana; color:red; "> 
      
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    <p class="show" style= "text-align: left; font-family:verdana;">
      <i class="material-icons" style="font-size:15px">place</i>
      <b></b>
    </p>
    <p class="h6" style= "text-align: right; font-family:verdana;">
      <b> </b>
    </p>
  </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/The Golden Resort/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/The Golden Resort/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/The Golden Resort/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/The Golden Resort/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/The Golden Resort/5.mp4" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:20px; font-family:verdana; color:red; "> 
      
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    <p class="show" style= "text-align: left; font-family:verdana;">
      <i class="material-icons" style="font-size:15px">place</i>
      <b></b>
    </p>
    <p class="h6" style= "text-align: right; font-family:verdana;">
      <b> </b>
    </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Sairup Residency/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Sairup Residency/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Sairup Residency/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Sairup Residency/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Sairup Residency/5.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Sairup Residency/6.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:20px; font-family:verdana; color:red; "> 
       
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    <p class="show" style= "text-align: left; font-family:verdana;">
      <i class="material-icons" style="font-size:15px">place</i>
      <b></b>
    </p>
    <p class="h6" style= "text-align: right; font-family:verdana;">
      <b></b>
    </p>
    </div>
  <br>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/The Boat Club/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
        <B style="font-size:20px; font-family:verdana; color:red; "> 
          
        </B>
        <p class ="msg" style= "text-align: justify">
          
        </p>
        <p class="show" style= "text-align: left; font-family:verdana;">
          <i class="material-icons" style="font-size:15px">place</i>
          <b></b>
        </p>
        <p class="h6" style= "text-align: right; font-family:verdana;">
          <b></b>
        </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Yeda Republic/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Yeda Republic/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Yeda Republic/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Yeda Republic/4.mp4" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:20px; font-family:verdana; color:red; "> 
      
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    <p class="show" style= "text-align: left; font-family:verdana;">
      <i class="material-icons" style="font-size:15px">place</i>
      <b></b>
    </p>
    <p class="h6" style= "text-align: right; font-family:verdana;">
      <b></b>
    </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Celebrations/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Celebrations/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Celebrations/2.mp4" alt="Angular Carousel 1">
        </div>
      </ng-template>    
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:20px; font-family:verdana; color:red; "> 
      
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    <p class="show" style= "text-align: left; font-family:verdana;">
      <i class="material-icons" style="font-size:15px">place</i>
      <b></b>
    </p>
    <p class="h6" style= "text-align: right; font-family:verdana;">
      <b></b>
    </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Special Holi/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Special Holi/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Special Holi/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Special Holi/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:20px; font-family:verdana; color:red; "> 
      
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    <p class="show" style= "text-align: left; font-family:verdana;">
      <i class="material-icons" style="font-size:15px">place</i>
      <b></b>
    </p>
    <p class="h6" style= "text-align: right; font-family:verdana;">
      <b></b>
    </p>
    </div>
  <br>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/5.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/6.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Social Occasion/7.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
        <B style="font-size:20px; font-family:verdana; color:red; "> 
          
        </B>
        <p class ="msg" style= "text-align: justify">
          
        </p>
    </div>
    
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/5.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/6.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/7.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/8.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/9.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Baatein/10.png" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>
  
    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
    <B style="font-size:20px; font-family:verdana; color:red; "> 
      
    </B>
    <p class ="msg" style= "text-align: justify">
      
    </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/5.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/6.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/7.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/8.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/9.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/10.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/11.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/12.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Heroine/13.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
      <B style="font-size:20px; font-family:verdana; color:red; "> 
      </B>
      <p class ="msg" style= "text-align: justify">
      </p>
    </div>
  </div>

  <div class="col-lg-3" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/2.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/3.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/4.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/5.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/6.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/7.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/8.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/9.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/10.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/11.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/12.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/13.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/14.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/Group/15.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="alert alert-dismissible alert-success"  style= "text-align: center">
      <B style="font-size:20px; font-family:verdana; color:red; "> 
     
      </B>
      <p class ="msg" style= "text-align: justify">
        
      </p>
    </div>
     <br>
  </div>
</div>

<audio  controls autoplay loop>
  <source src="assets/music/3.mp3" type="audio/mp3">
</audio> 