<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <h3>Welcome,  {{id}}</h3>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"   >
                <h4 >             
                </h4>   
        <li class="nav-item">
            <h4>      
            </h4>   
        </ul>
       
         
        <h4 style="color: black; background-color:rgba(212, 41, 41, 0.952);">
            <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
        </h4>
    </div>
</nav>
<div class="alert alert-dismissible alert-warning">
    <marquee width="100%" direction="left" height="25px">
        <b style="font-family:verdana; font-size:18px">
            ok
        </b>
    </marquee>
</div> 
<div class="row">
    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/1.jpg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/2.jpg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/3.jpg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
        <br> <br>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/4.jpeg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/5.jpeg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/6.jpg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
        <br> <br>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/7.jpg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
        <br> <br>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/8.jpg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" >
        <div class="container">
            <img src="assets/suprise2/9.jpeg" alt="" class="image" width="460" height="500">
            <div class="middle">
              <div class="text">
              </div>
            </div>
        </div>
    </div>
    
</div> 
<audio  controls autoplay loop>
  <source src="assets/music/2.mp3" type="audio/mp3">
</audio> 
<h4 style="color: white; background-color: white ;">
  <a class="nav-link" routerLink="/login3" style="color: white; background-color: white ;">SUPRISE 3</a>
</h4>