<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <h3>Welcome,  {{id}}</h3>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"   >
                <h4 >             
                </h4>   
        <li class="nav-item">
            <h4>      
            </h4>   
        </ul>
        <h4 style="color: black; background-color:rgba(212, 41, 41, 0.952);">
            <a class="nav-link" routerLink="/login1" >SUPRISE 1</a>
        </h4> 
        <h4 style="color: black; background-color:rgba(212, 41, 41, 0.952);">
            <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
        </h4>
    </div>
</nav>
<div class="alert alert-dismissible alert-warning">
</div> 
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/suprise0/suprise0.1.jpeg" alt="Suprise0.1" style="width:550px;height:650px;"> 
        </div>
        <div class="col-md-6">
            <img src="assets/suprise0/suprise0.2.jpeg" alt="Suprise0.1" style="width:550px;height:650px;"> 
        </div>   
    </div>   
</div>   
<audio  controls autoplay loop>
    <source src="assets/music/0.mp3" type="audio/mp3">
  </audio> 
       
            
        
    
 
